# Assignment 4 Questions

## Problem Statement

Q.1 Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of
the given sequence is defined as follows:

The moving average sequence has n-k+1 elements as shown below.
The moving averages with k=4 of a ten-value sequence (n=10) is shown below

    i 1 2 3 4 5 6 7 8 9 10
    ===== == == == == == == == == == ==
    Input 10 20 30 40 50 60 70 80 90 100
    y1 25 = (10+20+30+40)/4
    y2 35 = (20+30+40+50)/4
    y3 45 = (30+40+50+60)/4
    y4 55 = (40+50+60+70)/4
    y5 65 = (50+60+70+80)/4
    y6 75 = (60+70+80+90)/4
    y7 85 = (70+80+90+100)/4

Thus, the moving average sequence has n-k+1=10-4+1=7 values.

Write a function to find moving average in an array over a window:

Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [31]:
import numpy as np

def cal_avg(arr,n=3):
    total_sum=np.cumsum(arr,dtype=float)
    total_sum[n:]=total_sum[n:]-total_sum[:-n]
    return total_sum[n-1:]/n
    
inputs=[3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] 
arr=np.array(inputs)
np.array(cal_avg(arr,n=3)).round(2)

array([  5.  ,   4.67,   5.67,   6.67,   9.67,  28.67,  49.33,  72.67,
        84.  ,  93.33, 116.33])

Q.2 How-to-count-distance-to-the-previous-zero
For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)
create a new column 'Y'
Consider a DataFrame df where there is an integer column 'X'
    
    import pandas as pd
    df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [32]:
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
l=list(df['X'])
i = 0
r = []

for element in l:
    if element != 0:
        i += 1
    else:
        i = 0
    r.append(i)
r
df2=pd.DataFrame({'Y':r})
pd.concat([df,df2],axis=1)

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

Q.3 Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
random numbers.

In [33]:
import pandas as pd
import numpy as np

date=pd.date_range('2015-01-01','2015-12-31')
dseries=pd.Series(np.random.rand(date.shape[0]),index=date)
dseries.head(20)

2015-01-01    0.746985
2015-01-02    0.285594
2015-01-03    0.787475
2015-01-04    0.925269
2015-01-05    0.338686
2015-01-06    0.669621
2015-01-07    0.399311
2015-01-08    0.819631
2015-01-09    0.991056
2015-01-10    0.814690
2015-01-11    0.492727
2015-01-12    0.780634
2015-01-13    0.621041
2015-01-14    0.123949
2015-01-15    0.189402
2015-01-16    0.112848
2015-01-17    0.057797
2015-01-18    0.498899
2015-01-19    0.694269
2015-01-20    0.551678
Freq: D, dtype: float64

Q.4